nav {
  background-color: $colore-sfondo;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: sticky;
  top: 0;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-self: center;
}
.seleziona {
  border: 1px solid $colore-secondario;
  color: $colore-secondario;
  background-color: $colore-sfondo;
}
.menu {
  list-style-type: none;
  padding: 0;
  li {
    @extend .seleziona;
    padding-bottom: 15px;
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    & :hover {
      transform: scale(2);
    }
    @media screen and (min-width: 576px) {
      display: inline;
    }
  }
}
select {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

@mixin customBox($size, $fontFamily) {
  font: {
    size: $size;
    -family: $fontFamily;
  }
}
