@import "reset";
@import "variables";
@import "nav";

.card {
  width: 80%;
  border: $bordo;
  display: flex;

  img {
  }
  .testo p {
    @include customBox(20px, "Josefin Sans");
    padding: 10px;
    align-self: center;
  }
}
